<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header" style="margin: 0px 0px 10px 20px; display: flex;">
      <h4 class="modal-title">Subject Wise Students Count</h4>
      <span style="margin-left: auto; cursor: pointer;" onclick="modalClose()"><i class="fa-solid fa-xmark fa-2xl"></i></span>
    </div>
    <div class="modal-body" style="margin: 0px 180px 10px 20px;">
      <table class="table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Total Count</th>
          </tr>
        </thead>
        <tbody id='table_data'>
        </tbody>
      </table>
      <button type="button" class="btn btn-danger" style="margin-left: 160px;" onclick="modalClose()">Close</button>
    </div>
  </div>
</div>
