<p>Hi <%= @student %>,</p>
<p>Congratulations! Your account with Student Registration application has been successfully verified.</p>
<h1>Your Temporary Password</h1>
<p>Here is your temporary password: <%= @temp_password %></p>
<p>You can now log in and access all the features of our platform.</p>
<p>Thank you for choosing Student Registration application!</p>
<p>Best regards,</p>
<p>The Student Registration Team</p>
